
###########
# apt-get
# sudo apt-get install python3
# sudo apt-get install python3-numpy python3-scipy python-matplotlib
#
# sudo apt-get install -y python3-pip
# sudo apt-get install build-essential libssl-dev libffi-dev python-dev
# sudo apt-get build-dep python3-scipy
# sudo apt install libpng-dev libfreetype6-dev

# seaborn
numpy
scipy
matplotlib

Cython
emcee
sklearn

corner
gptools
pandas
ipython

